.hero-container{

    margin-top: 110px;
    width: 100%;
   
}

@media (max-width: 768px) {
    .hero-container{
       margin-top: 0px;
    }
}

@media (max-width: 480px) {
    .hero-container{
        height:calc(100vh - 100px) ;
    }
}