.product-detail-container{

    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:calc(100vh - 100px) ;
    width: 100%;
    /* background-color: #f0f0f0; */
}

